<div class="ingredient ">
  <div (click)="onClickIngredient()" class="btnImg">
    <img [src]="imgUrl" alt="ingredient" style="max-height: 100px; max-width: 100px" >
  </div>
  <h6 class="name {{color}}">{{ name }}</h6>
</div>

