<div class="Burger">
  <div class="BreadTop">
    <div class="Seeds1"></div>
    <div class="Seeds2"></div>
  </div>
  <div  *ngFor="let consist of ingredient" [ngClass]="consist" >




  </div>
  <div class="BreadBottom"></div>
  <p>Price : {{ sumPrice }}</p>
</div>
