<div class="container">
  <div class="consist">
    <h3>Ingredients</h3>
    <app-ingredients [ingredient]="allIngredients" (newConsist)="onNewIngredient($event)"
                     (deleteIng)="onDeleteIngredient($event)"
    ></app-ingredients>
  </div>
  <h3>Burger</h3>
  <app-burger [ingredient]="arrayName" [sumPrice]="sumPrice"
  ></app-burger>
</div>

