
<div class="ingredient" *ngFor="let newIngredient of ingredient; let i = index" >
  <app-images [name]="newIngredient.name" [imgUrl]="newIngredient.imgUrl"
              (addIngredient)="onAddIngredient(i)" ></app-images>
  <app-numbers [coast]="newIngredient.coast"  ></app-numbers>
  <app-deletes  *ngIf="newIngredient.coast > 0" (delete)="onDelete(i)"></app-deletes>
 </div>
